@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 selection:bg-emerald-600 selection:text-white;
  }
}

/* Custom Mapbox styling */
.mapboxgl-popup-content {
  @apply rounded-xl shadow-xl p-4 border border-slate-200 bg-white font-sans !important;
}

.mapboxgl-popup-close-button {
  @apply p-2 text-slate-400 hover:text-slate-700 !important;
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f5f9;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
